<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Portfolio website of full stack developer Raj Shekhar" />
    <meta name="keywords" content="frontend developer, frontend, portfolio,
			personal website, html, css, javascript, react" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
    <script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
    <title>Haddad Zineddine</title>
</head>

<body class="body-light">
    <header id="top">
        <a class="icon-border" href="#">
             Hz </a>
        <nav>
            <ul>
                <li>
                    <a href="#about" class="link">About</a>
                </li>
                <li>
                    <a href="#project" class="link">Projects</a>
                </li>
                <li>
                    <a href="#stack" class="link">Skills</a>
                </li>
                <li>
                    <a href="#experience" class="link">Experience</a>
                </li>
                <li>
                    <a href="#education" class="link">Education</a>
                </li>
                <li>
                    <a href="#contact" class="link">Contact</a>
                </li>
            </ul>
            <button aria-label="Toggle theme">
					<i aria-hidden="true" class="icon-normal fas fa-moon"></i>
				</button>
            <button aria-label="Toggle navbar">
					<i aria-hidden="true" class="icon-normal fas fa-bars"></i>
				</button>
        </nav>
    </header>


    <h1 class="text-center title cover">
        Hi, I am <span class="brand">Haddad Zineddine</span><br/>

        <h2 class="padded-multi-line job text-center">
            <span>
              <span>Web Developer and Freelancer</span>
            </span>
        </h2>
    </h1>


    <section id="about" class="about">
        <h2 class="section-title">About me</h2>
        <div class="hero">


            <div class="hero-about">
                <p>
                    Hi, My name is Hadadd Zineddine 21 years old , I am fourth year computer engineering student at
                    <a href="https://www.esi.dz/" class="link">ESI.</a
					>
                    <br />
                    <br />I'm a Full Stack Developer based in Algeria, ALG. I have a passion for coding and get most enjoyment from solving problems with writing elegant/maintainable code and sharing knowledge. <br />
                    <br />I love learning so I'm always keeping up to date by watching conference talks, listening to podcasts and reading blog posts.
					
				</p>

				<a class="resume" href="./assets/images/Haddad_Zineddine_Resume.pdf">
					<span class="btn">
                        <i class="fas icon fa-cloud-download-alt"></i>Download CV
                        </span>
				</a>


            </div>




        </div>

    </section>


    <section id="project" class="project">
        <h2 class="section-title">Projects </h2>

        <div class="project-container">
            <img src="./assets/images/php-banner.png" class="work" alt="cleanfolio" />

            <div class="project-content">
                <h3>PHP MVC Framework</h3>
                <p>
                    Create a simple MVC framework using PHP programming language for learning purposes.
                </p>

                <ul class="project-skill">
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>PHP</li>
                </ul>

                <ul class="project-link">
                    <li>
                        <a href="https://github.com/haddadzineddine/MVC-FrameWork-PHP" aria-label="Source code" title="source code"><i class="icon-border fas fa-code"></i
							></a>
                    </li>
                    <li>
                        <a href="#" class="disabled" aria-label="Preview" target="_blank" title="preview" rel="noopener">
                            <i aria-hidden="true" class="icon-border fas fa-external-link-alt"></i
							></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="project-container">
            <img src="./assets/images/covid.png"  class="work"  alt="covid-19" />

            <div class="project-content">
                <h3>Covid-19</h3>
                <p>
                    Covid-19 talks about Corona Virus Cases, including advices which You have to do for protecting Your self , and the recording of deaths, infected and recovered in algeria and other Contries in every day.
                </p>

                <ul class="project-skill">
                    <li>Dart</li>
                    <li>Flutter</li>
                </ul>

                <ul class="project-link">
                    <li>
                        <a href="https://github.com/haddadzineddine/Covid-19" aria-label="Source code" title="source code"><i class="icon-border fas fa-code"></i
							></a>
                    </li>
                    <li>
                        <a class="disabled" href="#" aria-label="Preview" target="_blank" title="preview" rel="noopener"><i
									aria-hidden="true"
									class="icon-border fas fa-external-link-alt"
								></i
							></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="project-container">
            <img src="./assets/images/school.png"  class="work"  alt="covid-19" />

            <div class="project-content">
                <h3>E-School</h3>
                <p>
                    E-School is a virtual School manager via the internet. It assists all the functions any educational member wants to do: from making agendas to sending feedbacks.
                </p>

                <ul class="project-skill">
                    <li>Laravel</li>
                    <li>ReactJS</li>
                    <li>Docker</li>
                </ul>

                <ul class="project-link">
                    <li>
                        <a href="https://github.com/LiNaNiNa/TP-IGL-E-School" aria-label="Source code" title="source code"><i class="icon-border fas fa-code"></i
							></a>
                    </li>
                    <li>
                        <a class="disabled" href="#" aria-label="Preview" target="_blank" title="preview" rel="noopener"><i
									aria-hidden="true"
									class="icon-border fas fa-external-link-alt"
								></i
							></a>
                    </li>
                </ul>
            </div>
        </div>
        <i class="fas icon-margin fa-hand-point-right"></i>Find more projects on my <a href="https://github.com/haddadzineddine" class="link">github account.</a>

    </section>

    <section>
        <h2 class="section-title">Github Stats</h2>

        <div class="project-container">
            <img src="https://github-readme-stats.vercel.app/api?username=haddadzineddine&show_icons=true&hide_border=true&theme=white&count_private=true" alt="cleanfolio" />

        </div>


    </section>




    <section id="stack" class="stack">
        <h2 class="section-title">Skills</h2>
        <ul>
            <li>
                <h3 class="group-title">
                    Web frontend</h3>
                <div class="stack-container">



                    <div class="bar vue intermediate" data-skill="VueJS"></div>
                    <div class="bar react intermediate" data-skill="ReactJS"></div>
                    <div class="bar angular basic" data-skill="AngularJS"></div>
                    <div class="bar jquery basic" data-skill="JQuery"></div>
                    <div class="bar html intermediate" data-skill="HTML"></div>
                    <div class="bar css intermediate" data-skill="CSS"></div>
                    <div class="bar boorstarp intermediate" data-skill="Bootstrap"></div>
                    <div class="bar tailwind intermediate" data-skill="TailwindCSS"></div>




                </div>
            </li>

            <li>
                <h3 class="group-title">
                    Web Backend</h3>
                <div class="stack-container">



                    <div class="bar laravel advanced " data-skill="Laravel"></div>




                </div>
            </li>

            <li>
                <h3 class="group-title">
                    Devops</h3>
                <div class="stack-container">

                    <div class="bar front basic" data-skill="Git"></div>
                    <div class="bar github basic" data-skill="GitHub"></div>
                    <div class="bar back basic" data-skill="WebHosting"></div>
                    <div class="bar docker basic" data-skill="Docker"></div>
                    <div class="bar database basic" data-skill="Databases"></div>



                </div>
            </li>

            <li>
                <h3 class="group-title">
                    Mobile development</h3>
                <div class="stack-container">

                    <div class="bar flutter basic" data-skill="Flutter"></div>



                </div>
            </li>

            <li>
                <h3 class="group-title">
                    Desktop development</h3>
                <div class="stack-container">

                    <div class="bar vb basic" data-skill="Vb.net"></div>
                    <div class="bar electron basic" data-skill="ElectronJS"></div>



                </div>
            </li>

            <li>
                <h3 class="group-title">
                    Generale Skills</h3>
                <div class="stack-container">

                    <div class="bar tdd basic" data-skill="TDD"></div>
                    <div class="bar webpack basic" data-skill="webpack"></div>
                    <div class="bar teamwork basic" data-skill="TeamWork"></div>




                </div>
            </li>
        </ul>


    </section>




    <section id="experience">
        <h2 class="section-title">Work experience</h2>



        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Intership at Algeria Partner</b></div>
                    <i class="far icon-margin fa-clock"></i>September 2020 - October 2020
                    <div class="item-detail">
                        <p>Build a marketplace B2B & B2C using laravel , mysql, react js.</p>
                    </div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Full-stack developer at A-Tech Solutions</b> </div>
                    <i class="far icon-margin fa-clock"></i>October 2020 - Avril 2021
                    <div class="item-detail"> Build a web application to manage appointments using mysql, laravel, react js.</div>
                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Full-stack developer at ValleyCOM</b></div>
                    <i class="far icon-margin fa-clock"></i>Avril 2021 - Now
                    <div class="item-detail"> Build a lot of freelance project (+6 until now) using laravel, vue js, react js, angular js, mysql and deploy all of them on digital ocean.</div>
                </li>

            </ul>

        </div>

    </section>

    <section id="education">
        <h2 class="section-title">Education</h2>



        <div class="history-tl-container">
            <ul class="tl">
                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Middle School</b></div>
                    <i class="far icon-margin fa-clock"></i>2010 - 2014

                    <div class="item-detail">
                        <i class="fas icon-margin fa-map-pin"></i>Lakhchine abdelmajid.
                    </div>

                    BEM with 16/20 as average.

                </li>
                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Hight School</b></div>
                    <i class="far icon-margin fa-clock"></i>2014 - 2017

                    <div class="item-detail">
                        <i class="fas icon-margin fa-map-pin"></i>Chtioui ahmed.
                    </div>

                    Baccalaureate in experimental sciences branche with 17.47/20 as average.

                </li>

                <li class="tl-item" ng-repeat="item in retailer_history">

                    <div class="item-title"><b class="group-title-job">Computer Science</b></div>
                    <i class="far icon-margin fa-clock"></i>2017 - Now

                    <div class="item-detail">
                        <i class="fas icon-margin fa-map-pin"></i>Higher school of computer science ( ESI ).
                    </div>



                </li>

            </ul>

        </div>

    </section>


    <section id="contact" class="contact">
        <h2 class="section-title">Get in touch</h2>

        <ul>
            <li>
                <a href="mailto:hz_haddad@esi.dz">
                    <span class="btn">
							<i aria-hidden="true" class="fas icon fa-envelope"></i>Email
                            </span>
                </a>
            </li>
            <li>
                <a href="https://github.com/haddadzineddine " aria-label="Github ">
                    <span class="btn ">
							<i aria-hidden="true " class="fab icon fa-github "></i>
							Github
						</span>
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/in/haddadzineddine/ " aria-label="Linkedin ">
                    <span class="btn ">
							<i aria-hidden="true " class="fab icon fa-linkedin "></i>
							Linkedin
						</span>
                </a>
            </li>

            <li>
                <a href="https://twitter.com/zineddine_dz_21 ">
                    <span class="btn ">
                        <i class="fab icon fa-twitter "></i>Twitter
						</span>
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/zineddine.haddad.dz">
                    <span class=" btn ">
                        <i class="fab icon fa-facebook "></i>Facebook
						</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/zineddine_haddad/ ">
                    <span class="btn ">
                        <i class="fab icon fa-instagram "></i></i>Instagram
						</span>
                </a>
            </li>




        </ul>
    </section>

    <footer>
        <small>&copy; 2021 Haddad Zineddine</small>
    </footer>

    <div class="scroll-container ">
        <div aria-label="Scroll up " class="scroll-up ">
            <a href="#top ">
                <i aria-hidden="true " class="fas fa-arrow-up "></i>
            </a>
        </div>
    </div>
</body>

</html>